twotest
south
django-taggit==0.11.2
django-tinymce
Pillow
stracks-api==0.2dev
git+git://github.com/iivvoo/two.bootstrap
git+git://github.com/wheelcms/wheelcms_axle.git
git+git://github.com/iivvoo/django_granules
git+git://github.com/iivvoo/django_drole
coveralls
