{% extends "wheelcms_axle/popup_detail.html" %}

{% block content %}
<div class="row-fluid">
 <div class="span12 file-content">
   File type?
 </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
            <input type="checkbox" name="direct" value="1">Link to download directly
        </label>
        <span class="help-block">
          If checked, link will point to download immediately in stead
          of File content type
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
