{% extends "wheelcms_axle/popup_detail.html" %}

{% block content %}
<div class="row-fluid">
 <div class="span12 image-content">
   <img class="img-polaroid detail-image" src="{{MEDIA_URL}}{{instance.content.storage}}">
 </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <label class="control-label" for="local_image_title">Title</label>
    <input id="local_image_title" type="text" name="local_title" value="{{instance.content.title}}"
           maxlength="256">

    {% if mode == 'link' %}
    <label class="control-label" for="local_image_title">Target</label>
    <input id="local_image_target" type="text" name="local_title" value="" maxlength="256">
    {% else %}
    <div class="controls">
      <label class="control-label" for="size">Image size</label>
      <label class="checkbox">
        <input type="radio" name="local_image_size" value="img_content_thumb"> Original
      </label>
      <label class="checkbox">
        <input type="radio" name="local_image_size" value="img_content_thumb"> Thumb
      </label>
      <label class="checkbox">
        <input type="radio" name="local_image_size" value="img_content_small"> Small
      </label>
      <label class="checkbox">
        <input type="radio" name="local_image_size" value="img_content_mediun"> Medium
      </label>
      <label class="checkbox">
        <input type="radio" name="local_image_size" value="img_content_large"> Large
      </label>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
